.contact {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
 
    .contact-card{
        display: flex;
        flex-direction: column;
        gap: 25px;
        background: linear-gradient(to bottom, var(--secondary) 50px, transparent 0px);
        text-align: center;
        width: 70%;
        background-color: var(--primary);
        border-radius: 60px;
        padding: 10px 10px 30px 10px;
        box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 768px) {
    .contact{
        .contact-card{
            width: 80% !important;
        }
    }
}