.collaboration {
    overflow: hidden;
    padding: 30px 0;
    background: var(--primary);
    white-space: nowrap;
    position: relative;
}

.collaboration-items {
    display: flex;
    gap: 5vw;
    animation: 100s slideEffect infinite linear;

    a{
        align-self: center;
    }

    img {
        max-width: 200px;
        max-height: 100px;
        object-fit: cover;
    }
}

.collaboration:hover .collaboration-items {
    animation-play-state: paused;
}

@keyframes slideEffect {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .collaboration-items {
        animation: 10s slideEffect infinite linear;
    }
}