@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FDF9E0;
  --secondary: #253FD7;
  --tertiary: #2139be;

  --black: #000000;
  --light-gray: #626567;
}

@font-face {
  font-family: 'San Fransisco Black';
  src: url('fonts/SFUIDisplay-Black.woff');
}

@font-face {
  font-family: 'San Fransisco Heavy';
  src: url('fonts/SFUIDisplay-Heavy.woff');
}

@font-face {
  font-family: 'San Fransisco Regular';
  src: url('fonts/SFUIDisplay-Regular.woff');
}

@font-face {
  font-family: 'San Fransisco Thin';
  src: url('fonts/SFUIDisplay-Thin.woff');
}

@font-face {
  font-family: 'San Fransisco Semibold';
  src: url('fonts/SFUIDisplay-Semibold.woff');
}

body {
  background-color: var(--primary);
  font-family: 'San Fransisco Regular', sans-serif;
}

.button-1 {
  background-color: var(--secondary);
  color: white;
  padding: 5px 40px;
  border-radius: 12px;
}

.button-1:hover {
  background-color: var(--tertiary);
}

.font-black {
  font-family: 'San Fransisco Black', sans-serif;
}

.font-heavy {
  font-family: 'San Fransisco Heavy', sans-serif;
}

.font-regular {
  font-family: 'San Fransisco Regular', sans-serif;
}

.font-thin {
  font-family: 'San Fransisco Thin', sans-serif;
}

.font-semibold {
  font-family: 'San Fransisco Semibold', sans-serif;
}

.title-1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px gray;
}

.title-2 {
  font-size: 2rem;
}

.subtitle-1 {
  font-size: 1.2rem;
}

.subtitle-2 {
  opacity: .8;
}

.subtitle-3 {
  font-size: 0.85rem;
  color: var(--light-gray);
}

.chip {
  padding: 0px 10px;
  border: 1.5px solid rgba(255 255 255 / 0.4);
  border-radius: 4px;
  border-radius: 50px;
  color: white;
  opacity: .8;
}

.separator {
  border: 1px solid var(--black);
  opacity: .2;
  border-radius: 50%;
}

.textbox {
  border-radius: 20px;
  padding: 5px 15px;
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
}

.textbox:focus {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.72, var(--tertiary)),
      color-stop(0.86, var(--secondary)));
}

@media (max-width: 768px) {
  .title-1 {
    font-size: 2em;
  }
}