.random-text{
    position: absolute;
    padding: 90px 50px;
}

.body {
    padding-top: 200px;
    background-image: url('/background.png');
    background-size: 100% auto;
    display: flex;
    flex-direction: column;

    .title {
        padding: 0 4% 20px 4%;
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12vw;
        padding-bottom: 80px;
        margin: 0 20px;

        .home-picture {
            align-self: center;
            max-width: 45%;
        }

        .profile-card {
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: var(--primary);
            border-radius: 60px;
            padding: 20px 20px;
            box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.3);

            .profile-card-picture {
                display: flex;
                justify-content: center;
            }

            .info-text {
                margin-top: -7px;
            }
        }
    }

    .skill {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 80px;

        .skill-item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 20%;

            .skill-icons {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 15px;

                .skill-icon-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    img {
                        max-width: 100px;
                        max-height: 100px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.project {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 3% 3% 10px 3%;
    background-color: var(--primary);

    .footer-detail {
        display: flex;
        justify-content: space-between;

        .footer-detail-item {
            width: 100%; 
            display: flex;
            gap: 150px;

            .footer-detail-item-column {
                display: flex;
                flex-direction: column;

                a:hover {
                    color: var(--tertiary);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .random-text{
        padding-top: 80px;
    }

    .body {
        padding-top: 50px;
    }

    .home{
        flex-direction: column;

        .home-picture {
            visibility: hidden;
        }

        .profile-card{
            width: 90% !important;
        }
    }

    .skill{
        flex-direction: column;
        align-items: center;
        gap: 15vw;
        .skill-item{
            width: 70% !important;
        }
    }

    .footer {
        padding-left: 20px;
        gap: 20px; 

        .footer-detail {
            flex-direction: column;

            .footer-detail-item {
                padding-top: 20px;
                gap: 10vw; 
            }
        }
    }
}