.body{
    padding-top: 100px;
    background-image: url('/background.png');
    background-size: 100% auto;

    .title{
        display: flex;
        padding: 0 4% 20px 4%;
        gap: 5px;
    }

    .home{
        display: flex;
        justify-content: center;
        gap: 12%;
        padding-bottom: 90px;

        .home-picture{
            align-self: center;
            max-width: 45%;
        }

        .profile-card{
            min-width: 500px;
            display: flex;
            flex-direction: column;
            text-align: center;

            background-color: var(--primary);
            border-radius: 60px;
            padding: 15px 35px;
            box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.3);

            .profile-card-picture{
                display: flex;
                justify-content: center;
            }

            .info-text{
                margin-top: -7px;
            }
        }
    }

    .skill{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 60px;

        .skill-item{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 20%;

            .skill-icons{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 15px;

                .skill-icon-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    img {
                        max-width: 100px;
                        max-height: 100px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.project{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 3% 3% 10px 3%;
    background-color: var(--primary);

    .footer-detail{
        display: flex;
        justify-content: space-between;

        .footer-detail-item{
            width: 100%;
            display: flex;
            gap: 150px;

            .footer-detail-item-column{
                display: flex;
                flex-direction: column;

                a:hover{
                    color: var(--tertiary);
                }
            }
        }
    }
}