.project-card{
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.project-card-background{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-card-background::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.project-card:hover .project-card-background::before {
    bottom: 0;
}

.project-card-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.project-card:hover .project-card-background img {
    transform: scale(1.1);
}

.project-card-detail {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 1em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.project-card:hover .project-card-detail {
    bottom: 0;
}

.project-card-detail{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.project-card-detail-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}